## URL Encoding

20.02.14  
  
Url을 Encoding한 후, url query에 city_id를 추가하는 작업

### Library

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
from urllib import parse

### Function

Encoder

In [2]:
def change_url(before):
    # Url parsing
    url = parse.urlparse(before)
    
    # query를 파싱해서 딕셔너리로 반환
    query = parse.parse_qs(url.query)
    
    # Encoding
    result = parse.urlencode(query, doseq=True)
    return result

Text changer

In [3]:
def change_text(before, after, data):
    data = data.apply(lambda x: str(x).replace(before, after))
    return data

---

### Url Encoding

Load Data

In [4]:
# url 데이터 불러오기
url = pd.read_csv('url.csv', encoding = 'utf-8')

# 데이터 예시
list(url['before'].sample())

['https://findmybucketlist.com/search/newresult?keyword=오크우드&category=stay']

http://인 것과 https://인 것 구분

In [5]:
url['s'] = url['before'].apply(lambda x: 1 if 'https' in x else 0)

Encoding

In [6]:
# UTF-8 Encoding
url['after'] = url['before'].apply(lambda x : change_url(x))

# Encoding 결과
list(url['after'].sample())

['keyword=%EC%BD%94%ED%83%80%EA%B8%B0%EB%82%98%EB%B0%9C%EB%A3%A8&category=stay']

연결자를 +가 아닌 %20으로 문자 변경

In [7]:
url['after'] = change_text('+', '%20', url['after'])

http:s//일 경우와 http://일 경우를 구분지어 url 생성

In [8]:
# url 생성
for i in range(len(url)):   
    if url['s'][i] == 1:
        # s가 있었던 경우에는 https~
        url['after'][i] = 'https://findmybucketlist.com/search/newresult?' + url['after'][i]
    else:
        # s가 없던 경우에는 http~
        url['after'][i] = 'http://findmybucketlist.com/search/newresult?' + url['after'][i]

# url 생성 결과   
list(url['after'].sample())

['https://findmybucketlist.com/search/newresult?keyword=%EC%BD%94%EB%9F%B4%20%EB%B2%A0%EC%9D%B4&category=stay']

cityid를 붙이기 위한 'name' 뽑아내기

In [9]:
url['name'] = url['before'].apply(lambda x: parse.parse_qsl(parse.urlparse(x).query)[0][1])

1. parse.urlparse(x).query = url을 parsing한 후 query만 뽑아낸다.  
2. parse.parse_qsl(...)[0][1] = 뽑아낸 query를 리스트로 만들고 첫번째의 value를 뽑아낸다.

In [10]:
list(url['before'].sample())

['https://findmybucketlist.com/search/newresult?keyword=베르비에&category=stay']

↓ 뽑아내기

In [11]:
url['name'].sample(3)

4793    하노이
3023    튀니지
4137    베이징
Name: name, dtype: object

---

### City_Id 붙이기

In [12]:
# city_id 데이터 불러오기 
city = pd.read_excel('city_id.xlsx')

# id가 존재하는 것만 남기기
city = city[city['id'].notnull()]

# city_id를 기준으로 중복 제거
city = city.drop_duplicates(['id'], keep = 'first').reset_index(drop = True)

# city_id 예시
city.sample(3)

       name           id
1654   구와하티  900050674.0
874   카사블랑카    -875598.0
961     콜포트   -2592906.0

만들어진 City Id와 합치기

In [13]:
# url + city
url = pd.merge(url, city, how = 'left', on = 'name')

# 합쳐진 예시
url[['before', 'after', 'id', 'name']].sample(3)

,before,after,id,name
135,https://findmybucketlist.com/search/newresult?...,https://findmybucketlist.com/search/newresult?...,NaN,바르
2854,https://findmybucketlist.com/search/newresult?...,https://findmybucketlist.com/search/newresult?...,-1508369.0,클리브
5766,https://findmybucketlist.com/search/newresult?...,https://findmybucketlist.com/search/newresult?...,-2421883.0,세부

id가 float으로 로드되었는데, 없는거 제외하고 int로 바꿔주기

In [14]:
# url['id']가 현재 float임
url['id'].dtypes

dtype('float64')

In [15]:
# nan이면 비워주고, 아니면 int로
url['id'] = url['id'].apply(lambda x: '' if str(x)=='nan' else str(int(x)))

최종 url 생성하기  
  
1. city_id가 있는 것은 **&city_id=id값**을 붙여준다.  
2. city_id가 없는 것은 그냥 놔둔다.

In [16]:
url['result'] = 'not_yet'

for i in range(len(url)):
    if url['id'][i] == '':
        # id가 없다면 그냥 [after url]값 가져오기
        url['result'][i] = url['after'][i]
    else:
        # id가 있으면 [after url] + '&city_id' + [city_id]
        url['result'][i] = url['after'][i] + '&city_id=' + url['id'][i]

# result 결과
list(url['result'].sample())

['https://findmybucketlist.com/search/newresult?keyword=%EA%B0%80%EB%A7%88%EC%BF%A0%EB%9D%BC&category=stay&city_id=-231760']

내보내기

In [17]:
url.to_excel('Url_result.xlsx', index = False)