<a href="https://colab.research.google.com/github/mizykk/Work/blob/master/%E1%84%8C%E1%85%AE%E1%86%BC%E1%84%87%E1%85%A9%E1%86%A8%E1%84%8C%E1%85%A6%E1%84%80%E1%85%A5%20%26%20%E1%84%8C%E1%85%AE%E1%86%BC%E1%84%87%E1%85%A9%E1%86%A8%E1%84%8E%E1%85%A1%E1%86%BD%E1%84%80%E1%85%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중복제거 & 중복값 찾기

20.03.11  
두 개의 데이터가 있다. 이 중 겹치는 것을 제외한 데이터(only 1 & only 2)와 겹치는 값만 있는 데이터(중복)를 뽑아내야 한다.

In [0]:
import pandas as pd

데이터 불러오기

In [2]:
cd drive/'My Drive'/

/content/drive/My Drive

In [0]:
file_1 = pd.read_excel('file.xlsx', sheet_name = '1차')
file_2 = pd.read_excel('file.xlsx', sheet_name = '2차')

데이터 예시

In [4]:
file_1.sample(3)

     kl_pk           kl_name
169  22634      unfulfilling
410  25885        real chore
59     832  horrible writing

In [5]:
file_2.sample(3)

     kl_pk            kl_name
422  26064        unwholesome
244    793       lousy script
92   27086  deeply unpleasant

### 겹치는거 제거하기

In [0]:
only1 = file_1[~file_1['kl_pk'].isin(file_2['kl_pk'])]
only2 = file_2[~file_2['kl_pk'].isin(file_1['kl_pk'])]

### 중복값 찾기

겹치는 값 찾기

In [0]:
# file1에서 file2와 겹치는 값 찾기 
rere = file_1[file_1['kl_pk'].isin(file_2['kl_pk'])]

# file2에서 file1과 겹치는 값 찾기 
rere2 = file_2[file_2['kl_pk'].isin(file_1['kl_pk'])]

중복값 합치기

In [0]:
rere = pd.concat([rere, rere2], axis = 0)

고유값으로 만들기

In [0]:
rere = rere.drop_duplicates('kl_pk')

내보내기

In [0]:
rere.to_excel('rere.xlsx')