# 중복제거 & 중복찾기

20.03.11  
두 개의 데이터가 있다. 이 중 겹치는 것을 제외한 데이터(only 1 & only 2)와 겹치는 값만 있는 데이터(중복)를 뽑아내야 한다.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

데이터 불러오기

In [2]:
file_1 = pd.read_csv('file_1.csv')
file_2 = pd.read_csv('file_2.csv')

데이터 예시

In [3]:
file_1.sample(3)

     kl_pk               kl_name
282  24166              garbling
399  25676         double whammy
490  27018  lack of authenticity

In [4]:
file_2.sample(3)

         kl_pk kl_name
838581     NaN     NaN
512893     NaN     NaN
1016300    NaN     NaN

### 겹치는거 제거하기

In [5]:
only1 = file_1[~file_1['kl_pk'].isin(file_2['kl_pk'])]
only2 = file_2[~file_2['kl_pk'].isin(file_1['kl_pk'])]

### 중복값 찾기

겹치는 값 찾기

In [6]:
# file1에서 file2와 겹치는 값 찾기 
rere = file_1[file_1['kl_pk'].isin(file_2['kl_pk'])]

# file2에서 file1과 겹치는 값 찾기 
rere2 = file_2[file_2['kl_pk'].isin(file_1['kl_pk'])]

중복값 합치기

In [7]:
rere = pd.concat([rere, rere2], axis = 0)

고유값으로 만들기

In [8]:
rere = rere.drop_duplicates('kl_pk')

내보내기

In [9]:
rere.to_excel('rere.xlsx')