# 모델명 찾기

In [1]:
import re
import pandas as pd

import warnings
warnings.filterwarnings(action = 'ignore')

데이터 불러오기

In [2]:
data = pd.read_excel('파일명.xlsx', header = 1)

작업해야하는 데이터만 남기기

In [3]:
data = data[data['구분']=='작업대상'].reset_index(drop = True)
data.sample(3)

,keyword,패턴분석,구분,ss_total,vip_click_total,CTR,처리방법,처리일자,유형,진행,동의어,-,Unnamed: 12,모델명,Unnamed: 14
38662,j2 pro 케이스,NaN,작업대상,164,327,1.993902,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8305,pc 패드,NaN,작업대상,60,33,0.550000,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31852,crp-jhts0660fs,NaN,작업대상,112,177,1.580357,NaN,NaT,NaN,NaN,NaN,NaN,NaN,CRP-JHTS0660FS,0.0

숫자로만 이루어진 데이터 → 제외

In [4]:
# 데이터타입이 int면 '숫자' 출력

data['type'] = data['keyword'].apply(lambda x: '문자' if type(x) != int else '숫자')

In [5]:
# 숫자 데이터 제외
data = data[data['type']!='숫자']

### 영여 & 숫자 & - 만 허용

In [6]:
com = re.compile('^([a-zA-Z-_])+([0-9-_])+([a-zA-Z0-9])*$')

data['모델명추정'] = data['keyword'].apply(lambda x: com.match(x).group() if com.match(x) != None else '')

내보내기

In [7]:
data[data['모델명추정']!=''].sample(3)

,keyword,패턴분석,구분,ss_total,vip_click_total,CTR,처리방법,처리일자,유형,진행,동의어,-,Unnamed: 12,모델명,Unnamed: 14,type,모델명추정
34690,nez2fj1602,NaN,작업대상,66,114,1.727273,NaN,NaT,NaN,NaN,NaN,NaN,NaN,nez2fj1602,0.0,문자,nez2fj1602
18558,gk898,NaN,작업대상,92,96,1.043478,NaN,NaT,NaN,NaN,NaN,NaN,NaN,gk898,0.0,문자,gk898
23771,ps2000,NaN,작업대상,84,104,1.238095,NaN,NaT,NaN,NaN,NaN,NaN,NaN,ps2000,0.0,문자,ps2000

In [8]:
data[data['모델명추정']!=''].to_excel('모델명.xlsx', index = False)